<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>InsightForge</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>

    <nav>

        <h2 class="logo">InsightForge</h2>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/upload-page">Upload</a></li>
            <li><a href="/report">Report</a></li>
        </ul>

    </nav>

</header>


<section class="hero">

    <h1>AI-Powered Data Analytics Platform</h1>

    <p>
        Upload datasets, analyze data, generate beautiful visualizations,
        and gain AI-powered insights in seconds.
    </p>

    <a href="/upload-page" class="btn">
        Upload Dataset
    </a>

</section>


<footer class="footer">

    <div class="footer-content">

        <h3>InsightForge</h3>

        <p>AI-Powered Data Analytics Platform</p>

        <p>Made with ❤️ using Flask & Python</p>

        <p class="footer-copy">
            © 2026 Kripa Patel. All Rights Reserved.
        </p>

    </div>

</footer>

</body>

</html>