<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Dataset</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="hero">
    <h1>Upload Your Dataset</h1>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="dataset" required>
        <br><br>

        <button class="btn" type="submit">
            Upload
        </button>
    </form>

</div>
<footer class="footer">

    <div class="footer-content">

        <h3>InsightForge</h3>

        <p>AI-Powered Data Analytics Platform</p>

        <p class="footer-copy">
            © 2026 Kripa Patel. All Rights Reserved.
        </p>

    </div>

</footer>
</body>
</html>